.navbar-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
  }

.max-width-200{
  max-width: 200px;
}

.overflow-handle{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.center-text {
  text-align: center;
}

.vertical-center {
  vertical-align: middle !important;
}

.button-container .btn {
  margin-right: 10px;
}

.step-container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
