.navbar-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
  }

.max-width-200{
  max-width: 200px;
}

.overflow-handle{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.center-text {
  text-align: center;
}

.vertical-center {
  vertical-align: middle !important;
}