td{
    max-width: 200px;
    min-width: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 15px;
}

.select-expense td{
    text-align: center;
}
.expense-number td{
    text-align: center;
}

th {
    text-align: center;
    padding: 5px 15px;

}